.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  display: flex;
  justify-content: center;
}

.divwrapper {
  margin-top: 100px;
  width: 325px;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  padding: 20px;
}

.divwrapper h1 {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.form {
  margin-bottom: 10px;
}

.todoitem {
  display: flex;
  justify-content: space-between;
  background-color: rgba(121, 220, 233, 0.4);
  border-radius: 2px;
  margin: 2px;
  padding: 10px;
}

.todoitem button {
  margin-left: auto;
}

.form input {
  margin-right: 25px;
  height: 1.5em;
  font-size: 1.5em;
}

.form button {
  height: 1.5em;
  font-size: 1.5em;
  border-radius: 5px;
}